.welcome-background {
    /* background: linear-gradient(322deg, #ffdaeb 27.79%, #98dffe 108.92%); */
    background: white;
    height:max-content;
  }
  
  #greeting {
    text-align: center;
  }
  
  .to-do-list {
    text-align: center;
    height: 600px;
  }
  
  .mark-complete-btn {
    visibility: visible;
  }

  .bi-check-circle {
    /* background-color: yellow; */
    visibility: hidden;
  }
  
  /* css for flexbox. check out link for more info: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#background */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: center; */
  }